Django==5.2.12
python-decouple==3.8
gunicorn== 26.0.0
djangorestframework~=3.17.1
celery==5.4.0
redis==5.2.1
flower==2.0.1
django-celery-beat==2.8.0
django-celery-results==2.5.1
requests~=2.34.2
locust~=2.46.3